<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/navigation.css">
<!-- navigation code -->
<nav>
<div class="w3-top">

  <div class="w3-bar-item-centered w3-black">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="../home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="../tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <!--<a href="../vehicles" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VEHICLE</a>-->
    {% comment %} <a href="../book_now" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BOOK NOW</a> {% endcomment %}
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <a href="../about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
    {% if user.is_authenticated %}   
    <a href="../mybooking" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">MY BOOKING</a>
    <a href="../logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOG OUT</a>
    <a href="../profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">PROFILE</a>
    {% else %}
    <a href="../register" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">SIGN UP</a>
    <a href="../login" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOGIN</a>
    {% endif %}
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Blog</a>
        
      </div>
    </div>
    
  </div>
</div>
<p>
{% block content %}
{% endblock %}
</p>