<!DOCTYPE html>
{% extends "base.html" %}
{%block content %}
<html lang="en">
<title>Travel India</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<div class="w3-blue" id="cab">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center"> AVAILABLE VEHICLE</h2>
      
      

      <div class="w3-row-padding w3-padding-32" style="margin:0 -100px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/bolero_1.jpg" alt="New York" style="width:100%" height="200"  class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>BOLERO </b></p>
            <p class="w3-opacity">Fri 27 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/honda_city_1.jpg" alt="Paris" style="width:100%" height="200" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>HONDA</b></p>
            <p class="w3-opacity">Sat 28 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/innova_1.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>INNOVA</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/scorpio_1.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>SCORPIO</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/scorpio_2.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          
          <div class="w3-container w3-white">
            <p><b>SCORPIO</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/tavera_1.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          
          <div class="w3-container w3-white">
            <p><b>TAVERA</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/tuv_1.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          
          <div class="w3-container w3-white">
            <p><b>TUV</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div>
       <div class="w3-third w3-margin-bottom">
          <img src="/static/image/vehicle/van_1.jpg" alt="San Francisco" style="width:100%" height="200" class="w3-hover-opacity">
          
          <div class="w3-container w3-white">
            <p><b>VAN</b></p>
            <p class="w3-opacity">Sun 29 Nov 2016</p>
            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="redirectToPage()">Buy Tickets</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <script>
    function redirectToPage() {
      // Specify the URL of the HTML page you want to redirect to
      var pageUrl = "/travel/book_now";
      
      // Use JavaScript to redirect to the specified page
      window.location.href = pageUrl;
    }
    </script>

</body>
</html>
{% endblock %}